@import "reset";
@import "helpers";
* {
  box-sizing: border-box;
  transition: all 300ms;
}

html {
  font: 16px "Trebuchet MS";
}

header, section {
  position: relative;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

#bootstrap-overrides  {
  button {
    outline: none;
    cursor: pointer;
  }
}
